name: Launch Linux Workflow

on:
  workflow_dispatch:
    inputs:
      authcode:
        description: "Authorization link"
        required: true
      pincode:
        description: "6-digit PIN code"
        required: true

jobs:
  setup-and-install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Create CRD User
        run: |
          sudo adduser --disabled-password --gecos "" crduser
          echo "crduser:crdpassword" | sudo chpasswd
          sudo usermod -aG sudo crduser

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y wget curl gdebi-core

      - name: Install LXDE-core
        run: |
          sudo apt-get install -y lxde-core

      - name: Install Chrome Remote Desktop
        run: |
          wget https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
          sudo gdebi -n chrome-remote-desktop_current_amd64.deb
          rm chrome-remote-desktop_current_amd64.deb

      - name: Add CRD User To Group
        run: |
          sudo usermod -aG chrome-remote-desktop crduser

      - name: Configure CRD
        run: |
          sudo -u crduser bash -c '${{ github.event.inputs.authcode }} --pin=${{ github.event.inputs.pincode }}'

      - name: Set LXDE Session
        run: |
          echo "exec startlxde" | sudo tee /etc/chrome-remote-desktop-session

      - name: Keep Alive
        run: sleep $((6 * 3600))
